# .NET 8
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core SignalR 
*.db

# Entity Framework
*.edmx.diagram
*.edmx.sql
*.lck

# Azure Functions
local.settings.json

# User secrets
secrets.json

# ASP.NET Core Identity
*.jwk

# Publish output
.publish/

# Angular
node_modules/
dist/
build/

# Angular environment files (sensitive information)
src/environments/environment.*.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.json
pmdoc.*
*.pid

# Optional npm cache directory
.npm

# Compiled TypeScript
*.tsbuildinfo

# Compiled JavaScript files
*.js
*.js.map

# TypeScript declaration files
*.d.ts

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs

# JetBrains Rider
.idea/
*.sln.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Linux
*.swp
*.swo

# System files
*.tmp
*.temp

# Coverage reports
coverage/
*.lcov

# Dependency directories
bower_components/
jspm_packages/

# Compiled files
*.dll
*.exe
*.so
*.dylib

# Packages
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE specific files
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tlog

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml
*.coveragejson

# NuGet Packages
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
.nuget/

# git directory itself
.git

# github directory
.github

# Temporary or system files
*.lock
*.orig
*.rej
*.bak
*.old
