/* src/app/components/swap-space/swap-space.component.css */
.swap-space {
    display: flex;
    flex-wrap: wrap;
  }
  
  .swap-space div {
    width: 100px;
    height: 40px;
    border: 1px solid #000;
    margin: 2px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #ffcdd2;
  }
  